*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('../images/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Crimson Text', serif;
}

.header{
    display: flex;
    width: 100%;
}

.logo{
    width: 200px;
}

.logo img{
    height: 100%;
    width: 100%;
}

.buttons{
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
    text-align: right;
    margin: auto 4px;
}

.buttons button{
    color: #fff;
    background-color: rgb(25, 25, 236);
    font-weight: 400;
    border: none;
    margin: 6px;
    padding: 6px;
    width: 60px;
    box-shadow: 2px 2px #808080;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button.all-post, button.create-post{
    height: 35px;
    width: 100px;
    padding: 4px;
    margin: 0 auto;
    margin: 6px;
    background-color: #cc9900;
    border-color: #fff;
    font-weight: 800;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content */
.modal-content {
background-color: #fff;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 28%;
}

.modal-content h2{
    text-align: center;
    margin: 10px 0;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover{
    cursor: pointer;
}

.fluid-container{
    margin: 10px 0;
}

input[type=text], input[type=password], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #f5efefe0;
}

button.login-button, button.signup-button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.form-footer{
    margin: 5px;
    text-align: center;
}

a{
    text-decoration: none;
}

textarea{
    padding: 4px;
}

button.post-button{
    width: 60px;
    background-color: rgb(96, 226, 96);
    padding: 5px;
    color: #fff;
    border: none;
    outline: none;
}
