*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffa500;
    font-family: 'Crimson Text', serif;
}

.header{
    display: flex;
    width: 100%;
}

.logo{
    width: 200px;
}

.logo img{
    height: 100%;
    width: 100%;
}

.buttons{
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
    text-align: right;
    margin: auto 4px;
}

.buttons button{
    color: #fff;
    background-color: rgb(25, 25, 236);
    font-weight: 400;
    border: none;
    margin: 6px;
    padding: 6px;
    width: 60px;
    box-shadow: 2px 2px #808080;
}

.container{
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.author{ 
    grid-area: menu; 
    align-self: center;
    padding: 20px;
}

.desc{ 
    grid-area: right; 
    height: 180px;
    background-color: #c7bfbf;
    /*white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    padding: 12px;
}

.desc h1{
    margin-block-end: 20px;
}

.fluid-container{
    display: grid;
    grid-template-areas: 'menu right';
    grid-template-columns: 1fr auto;
    background-color: #2196F3;
    background-color: #fff;
    border-radius: 20px 20px;
    width: 40%;
    overflow: hidden;
    margin: 20px 0;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 210px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 26%;
    line-height: 3em;
}

.delete-button:hover{
    cursor: pointer;
}

#confirm{
    background-color: rgb(228, 20, 20);
    padding: 8px 45px;
    border: none;
    outline: none;
    color: #fff;
    margin-right: 125px;
}

#cancel{
    background-color: rgb(68, 223, 68);
    padding: 8px 45px;
    border: none;
    outline: none;
    color: #fff;
}