.header{
    display: flex;
    width: 100%;
}

.logo{
    width: 200px;
}

.logo img{
    height: 100%;
    width: 100%;
}

.buttons{
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
    text-align: right;
    margin: auto 4px;
}

.buttons button{
    color: #fff;
    background-color: rgb(25, 25, 236);
    font-weight: 400;
    border: none;
    margin: 6px;
    padding: 6px;
    width: 60px;
    box-shadow: 2px 2px #808080;
}