*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Crimson Text', serif;
}

.header{
    display: flex;
    width: 100%;
}

.logo{
    width: 200px;
}

.logo img{
    height: 100%;
    width: 100%;
}

.buttons{
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
    text-align: right;
    margin: auto 4px;
}

.buttons button{
    color: #fff;
    background-color: rgb(25, 25, 236);
    font-weight: 400;
    border: none;
    margin: 6px;
    padding: 6px;
    width: 60px;
    box-shadow: 2px 2px #808080;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.edit, .like, .comment{
    color: #fff;
    background-color: tomato;
    padding: 4px 8px;
    float: right;
    border: #ff0000;
}

.like, .comment{
    float: none;
    margin: 8px 0;
}

textarea#desc{
    width: 100%;
    border: none;
    outline: none;
    margin-top: 15px;
    padding: 10px 4px;
    text-align: justify;
    line-height: 1.6em;
    resize: none;
    overflow: auto;
}

#comment-area{
    margin-top: 20px;
    width: 60%;
    padding: 4px;
}

.main-div{
    width: 60%;
    background-color: #d4d2d2;
    padding: 10px;
}

.comment-1, .comment-2{
    background-color: #fff;
    padding: 4px;
    margin: 10px 0;
    height: 40px;
}